[user]
    name = Shuma Shinozaki
    email = shu.shinozaki@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[alias]
	a = add
	b = branch
	ba = branch -a
	cm = commit
	co = checkout
	d = diff
	s = status
	ss = status -s
[ghq]
    root = ~/src
