[user]
    name = Shuma Shinozaki
    email = shu.shinozaki@gmail.com
[core]
	editor = vim
    excludesfile = ~/.gitignore_global
[alias]
	a = add
	ac = !git add . && git commit
	b = branch
	ba = branch -a
	c = commit
	co = checkout
	d = diff
	s = status
	ss = status -s
	webui = !/Users/shuma/src/github.com/alberthier/git-webui/release/libexec/git-core/git-webui
[ghq]
    root = ~/src
[webui]
	autoupdate = true
